.modal-bg {
    background: rgba(0, 0, 0, 0.70);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
}

.modal-body {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-left: 25%;
    transform: translate(0, -50%);
    background: #25294a;
    min-height: 200px;
    z-index: 1000;
    border-radius: 6px;
    background: linear-gradient(#f2f8f8, #e5f4fd);
}

.modal-title {
    text-align: center;
    color: rgb(109, 172, 255);
    font-size: 18px;
    font-weight: 700;
}

.modal-time {
    text-align: center;
    color: rgb(36, 105, 255);
    font-size: 60px;
    font-weight: 800;
    margin: 0;
}

.modal-btn-twitter {
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    color: white;
    text-align: center;
    background: #1DA1F2;
    font-weight: 500;
    font-size: 14px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: 200ms;
}


.modal-btn-twitter:hover {
    background: #1194e6;
    transition: 200ms;
}


.modal-btn-twitter a{
    text-decoration: none;
    color: white;
}